body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: transparent ;
    color: #262626;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 90%;
  }
  .form-container {
    width: 300%;
  }